.description__container {
    display: block;
}

.image__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}


.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: all 400ms ease;
}

/* .portfolio__item:hover {
    border-color: var(--color-bg-variant);
    background: transparent;
} */

.description__item__image__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.description__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    
}

.portfolio__item h3 {
    margin: 1.2rem 0 0rem;
    color: var(--color-bg)
}

.portfolio__item p {
    margin: 0.2rem 0 2rem;
    color: var(--color-bg)
}

.portfolio__item__info {
    margin: 0rem 0 1rem;
}

.portfolio__item li {
    color: var(--color-bg);
    list-style-type:disc;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
}

.portfolio__item-cta a {
    color: var(--color-bg);
    transition: var(--transition);
    border: 1px solid var(--color-bg);
  }

a:hover {
    color: var(--color-white);
  }



/* ========= Media Querie (Medium devices such as tablets) ======== */ 
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
 }
     
 /* ========= Media Querie (Small devices such as tablets) ======== */ 
 @media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

 }